extends layout

block content

    div(ng-app='chatApp')
        div(ng-controller='ChatController')
            div#chat-wrapper

                div.message(ng-repeat='msg in messages', class='{{msg.cssClass}}')
                    div.info.clearfix
                        div.author
                            strong {{msg.user}}
                        div.date
                            span {{msg.date | date:'dd.MM.yyyy HH:mm:ss'}}
                    div.content
                        p {{msg.content}}

            div#chat-form-wrapper
                form(ng-submit='sendMessage()')
                    input(type='text', ng-model='message', placeholder='Type a message...',
                        autocomplete='off', required='required')
                    button(type='submit') Send!
