extends layout

block content

    div#index-wrapper.wrapper
        form(action='/chat', method='POST')
            div.form-group
                input(type='text', name='user', placeholder='Nick', required='required')
            div.form-group
                input(type='text', name='room', placeholder='Room', required='required')
            div.form-group
                button(type='submit') Join!
