extends layout

block content

    div(ng-hide="chatReady")
        div#index-wrapper.wrapper

            div(ng-show="userExists")
                div.index-error
                    p Someone in "{{room}}" uses "{{user}}" nick. Choose different one.

            form(ng-submit='joinUser()')
                div.form-group
                    input(type='text', ng-model='user', ng-change='userExists = false',
                    placeholder='Nick', required='required')
                div.form-group
                    input(type='text', ng-model='room', ng-change='userExists = false',
                    placeholder='Room', required='required')
                div.form-group
                    button(type='submit') Join!

    div(ng-show="chatReady")

        div.clearfix
            div(style='float:left;width:85vw')
                div#chat-wrapper
                    div.message(ng-repeat='msg in messages', class='{{msg.cssClass}}')
                        div.info.clearfix
                            div.author
                                strong {{msg.user}}
                            div.date
                                span {{msg.date | date:'dd.MM.yyyy HH:mm:ss'}}
                        div.content
                            p {{msg.content}}

            div(style='float:left;width:15vw')
                div#sidebar
                    h3 Room: {{room}}
                    h4 Connected users:
                    ul
                        li(ng-repeat="cu in connectedUsers | orderBy:'name'")
                            span.dot
                            | {{cu.name}}

        div#chat-form-wrapper
            form(ng-submit='sendMessage()')
                input(type='text', ng-model='message', placeholder='Type a message...',
                autocomplete='off', required='required')
                button(type='submit') Send!