doctype html
html(lang='en')
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/angular.min.js')
        script(src='/javascripts/socket.io.js')
        script(src='/javascripts/rc4.js')
        if user && room
            script= "var user = '" + user + "'; var room = '" + room + "';"
        script(src='/javascripts/chat.js')
        <!--[if lt IE 9]>
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        <![endif]-->

    body
        header#page-header
            a(href='/')
                h1= title

        block content
